@charset "utf-8";
/* CSS Document */
/* ------------ Font--------- */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/open-sans-v14-latin-regular.eot'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/open-sans-v14-latin-regular.svg') format('svg'), url('../fonts/open-sans-v14-latin-regular.woff') format('woff'), url('../fonts/open-sans-v14-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}
/* ------------ End --------- */
/* ------------ Veriables--------- */
/* ------------ End--------- */
body {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: 'OpenSans-Regular';
}
body .wrapper {
  float: left;
  width: 100%;
}
body .wrapper.top-border {
  border-top: 20px #3bc0c3 solid;
}
body .wrapper .container {
  width: 940px;
  margin: 0 auto;
}
body .wrapper .container header .logo {
  float: left;
  margin-top: 20px;
}
body .wrapper .container header .item-cart {
  float: right;
  width: 207px;
  height: 36px;
  margin-top: 30px;
  border: 1px #b6c2c9 solid;
  border-radius: 4px;
  font-size: 12px;
  color: #314350;
  line-height: 38px;
  position: relative;
}
body .wrapper .container header .item-cart .cart-item {
  position: relative;
  padding-left: 40px;
}
body .wrapper .container header .item-cart:before {
  content: '';
  width: 24px;
  height: 20px;
  background: url(../images/sprite.png);
  background-position: 0px -65px;
  position: absolute;
  top: 7px;
  left: 10px;
}
body .wrapper .container header .item-cart .cart-price {
  font-weight: bold;
  padding-left: 10px;
}
body .wrapper .container header .item-cart #minicart {
  float: right;
  width: 250px;
  border: 1px #b6c2c9 solid;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 35px;
  background: #fff;
  z-index: 999;
}
body .wrapper .container header .item-cart #minicart .mini-cart-product {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
body .wrapper .container header .item-cart #minicart .mini-cart-product figure img {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 20px;
}
body .wrapper .container header .item-cart #minicart .mini-cart-product figure figcaption {
  float: left;
  width: 140px;
  position: relative;
}
body .wrapper .container header .item-cart #minicart .mini-cart-product figure figcaption h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  text-transform: uppercase;
}
body .wrapper .container header .item-cart #minicart .mini-cart-product figure figcaption .price {
  font-size: 16px;
}
body .wrapper .container header .item-cart #minicart .mini-cart-product figure figcaption .fa {
  position: absolute;
  right: 0;
  top: 10px;
}
body .wrapper .container header .item-cart #minicart .pimary-btn {
  float: right;
}
body .wrapper .container header nav {
  float: left;
  width: 100%;
  border-bottom: 5px #0f1922 solid;
  font-family: 'OpenSans-Bold';
}
body .wrapper .container header nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body .wrapper .container header nav ul li {
  float: left;
  position: relative;
  display: inline-block;
}
body .wrapper .container header nav ul li > a {
  color: #314350;
  padding: 10px 17px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
 > body .wrapper .container header nav ul li > a:hover,
body .wrapper .container header nav ul li > a.active {
  color: #ffffff;
  text-decoration: none;
}
body .wrapper .container header nav ul li > a.sale-highlight {
  color: #f05050;
}
body .wrapper .container header nav ul li:last-child {
  float: right;
}
body .wrapper .container header nav ul li ul.level-1 {
  opacity: 0;
  position: absolute;
}
body .wrapper .container header nav ul li.level:hover {
  background: #314350;
  position: relative;
}
body .wrapper .container header nav ul li.level:hover a {
  color: #ffffff;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 {
  width: 100%;
  position: absolute;
  background: #edf1f2;
  opacity: 1;
  z-index: 1;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li {
  display: inline-block;
  width: 100%;
  position: relative;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li a {
  width: 100%;
  display: inline-block;
  padding: 8px 15px;
  color: #314350;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li a:after {
  content: '';
  position: absolute;
  color: red;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li .fa {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 8px;
  transform: rotate(-90deg);
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li ul.level-2 {
  opacity: 0;
  display: none;
  position: absolute;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li:hover,
body .wrapper .container header nav ul li.level:hover ul.level-1 li.active {
  background: #b5c2ca;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li:hover ul.level-2,
body .wrapper .container header nav ul li.level:hover ul.level-1 li.active ul.level-2 {
  width: 100%;
  position: absolute;
  background: #edf1f2;
  left: 114px;
  right: 0;
  top: 0px;
  opacity: 1;
  display: block;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li:hover ul.level-2 li,
body .wrapper .container header nav ul li.level:hover ul.level-1 li.active ul.level-2 li {
  display: inline-block;
  width: 100%;
}
body .wrapper .container header nav ul li.level:hover ul.level-1 li:hover ul.level-2 li a,
body .wrapper .container header nav ul li.level:hover ul.level-1 li.active ul.level-2 li a {
  width: 100%;
  display: inline-block;
  padding: 8px 15px;
  color: #314350;
}
body .wrapper .container header .mobile-nav {
  display: none;
}
body .wrapper .container .sale-banner {
  float: left;
  width: 100%;
  margin: 25px 0;
  clear: both;
}
body .wrapper .container .sale-banner .sale-banner-img {
  float: left;
  width: 50%;
  position: relative;
  z-index: 0;
}
body .wrapper .container .sale-banner .sale-banner-img img {
  width: 100%;
  z-index: 0;
}
body .wrapper .container .sale-banner .sale-banner-img .banner-content {
  position: absolute;
  top: 40%;
  width: 100%;
  background: #333;
  opacity: .7;
  color: #ffffff;
  text-align: center;
}
body .wrapper .container .sale-banner .sale-banner-img .banner-content h3 {
  margin: 6px 0;
}
body .wrapper .container .sale-banner .sale-banner-img .banner-content p {
  font-size: 12px;
  margin-bottom: 6px;
}
body .wrapper .container .sale-banner .sale-banner-content {
  float: left;
  width: 50%;
  padding-left: 20px;
}
body .wrapper .container .sale-banner .sale-banner-content h1 {
  font-size: 42px;
  margin: 0 0 10px 0;
  font-weight: bold;
}
body .wrapper .container .sale-banner .sale-banner-content h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
  font-weight: bold;
}
body .wrapper .container .sale-banner .sale-banner-content p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
}
body .wrapper .container .favorite-txt {
  float: left;
  width: 100%;
  clear: both;
  border-top: 2px #000 solid;
  margin-bottom: 25px;
  position: relative;
}
body .wrapper .container .favorite-txt span {
  background: #ffffff;
  color: #000;
  left: 40px;
  top: -20px;
  position: absolute;
  font-size: 24px;
}
body .wrapper .container .product-slider {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
body .wrapper .container .product-slider ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body .wrapper .container .product-slider ul li {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
body .wrapper .container .product-slider ul li figure {
  border: 1px #ccc solid;
  padding: 5px;
}
body .wrapper .container .product-slider ul li figure img {
  width: 100%;
}
body .wrapper .container .product-slider ul li .product-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  text-transform: uppercase;
}
body .wrapper .container .product-slider ul li .product-price {
  font-size: 14px;
  margin: 8px 0;
  font-weight: bold;
}
body .wrapper .container .product-slider ul li .product-price .sale-price {
  color: #f05050;
}
body .wrapper .container .product-slider ul li .product-price .old-price {
  text-decoration: line-through;
}
body .wrapper .container .product-slider ul li:last-child {
  margin-right: 6px;
}
body .wrapper .container .product-slider ul li:first-child {
  margin-left: 8px;
}
body .wrapper footer {
  float: left;
  width: 100%;
  background: #b6c2c9;
  padding-top: 20px;
}
body .wrapper footer ul {
  float: left;
  width: 30%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body .wrapper footer ul li {
  display: block;
  padding-bottom: 6px;
}
body .wrapper footer ul li h4 {
  color: #ffffff;
  font-size: 18px;
  margin: 10px 0 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}
body .wrapper footer ul li a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
body .wrapper footer ul.email-subscrip {
  width: 40%;
}
body .wrapper footer ul.email-subscrip input[type="email"] {
  float: left;
  width: calc(70%);
  height: 30px;
  border-radius: 5px;
  border: 0 none;
  padding-left: 30px;
  margin-right: 10px;
}
body .wrapper footer ul.email-subscrip li:last-child {
  position: relative;
}
body .wrapper footer ul.email-subscrip li:last-child:before {
  content: '';
  width: 20px;
  height: 17px;
  background: url(../images/email-icon.png);
  position: absolute;
  left: 6px;
  top: 6px;
}
body .wrapper footer ul.email-subscrip li #status {
  padding: 5px 0;
}
body .pimary-btn {
  min-width: 80px;
  background: #3bc0c3;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0 none;
  padding: 6px 15px;
  line-height: 18px;
}
@media only screen and (max-width: 939px) {
  body .wrapper .container {
    width: 100%;
  }
  body .wrapper .container .sale-banner .sale-banner-img img {
    height: 165px;
  }
  body .wrapper .container .sale-banner .sale-banner-content h1 {
    font-size: 32px;
  }
  body .wrapper .container .sale-banner .sale-banner-content h2 {
    font-size: 20px;
  }
  body .wrapper .container .sale-banner .sale-banner-content p {
    font-size: 14px;
  }
  body .wrapper .container .product-slider ul li {
    width: 23%;
  }
  body .wrapper footer ul.email-subscrip input[type="email"] {
    width: calc(55%);
  }
}
@media only screen and (max-width: 767px) {
  body .wrapper .container header {
    float: left;
    width: 100%;
  }
  body .wrapper .container header .logo {
    width: 145px;
  }
  body .wrapper .container header .logo img {
    width: 100%;
  }
  body .wrapper .container header .item-cart {
    background: #efeaea;
    border: 0 none;
    width: 40px;
    margin-top: 15px;
    right: 60px;
  }
  body .wrapper .container header .item-cart:before {
    top: 6px;
    left: 8px;
  }
  body .wrapper .container header .item-cart .cart-item,
  body .wrapper .container header .item-cart .cart-price {
    display: none;
  }
  body .wrapper .container header .item-cart #minicart {
    display: none;
    opacity: 0;
  }
  body .wrapper .container header .item-cart:focus #minicart,
  body .wrapper .container header .item-cart:hover #minicart {
    display: block;
    opacity: 1;
    right: -60px;
  }
  body .wrapper .container header .item-cart:focus #minicart:hover,
  body .wrapper .container header .item-cart:hover #minicart:hover {
    display: block;
    opacity: 1;
  }
  body .wrapper .container header nav {
    position: relative;
    border: 0 none;
  }
  body .wrapper .container header nav ul {
    display: none;
  }
  body .wrapper .container header nav:hover ul,
  body .wrapper .container header nav:focus ul {
    display: block;
    position: absolute;
    background: #ffffff;
    z-index: 999;
    padding-top: 10px;
  }
  body .wrapper .container header nav:hover ul li,
  body .wrapper .container header nav:focus ul li {
    width: 100%;
    border-top: 1px #3bc0c3 solid;
  }
  body .wrapper .container header nav:hover ul li ul.level-1,
  body .wrapper .container header nav:focus ul li ul.level-1 {
    opacity: 1;
    position: relative;
    background: #ffffff;
  }
  body .wrapper .container header nav:hover ul li ul.level-1 a,
  body .wrapper .container header nav:focus ul li ul.level-1 a {
    color: #314350;
  }
  body .wrapper .container header nav:hover ul li ul.level-1 li,
  body .wrapper .container header nav:focus ul li ul.level-1 li {
    padding-left: 20px;
  }
  body .wrapper .container header nav:hover ul li ul.level-1 li .fa,
  body .wrapper .container header nav:focus ul li ul.level-1 li .fa {
    display: none;
  }
  body .wrapper .container header nav:hover ul li ul.level-1 li ul.level-2,
  body .wrapper .container header nav:focus ul li ul.level-1 li ul.level-2 {
    opacity: 1;
    position: relative;
    background: #ffffff;
  }
  body .wrapper .container header nav:hover ul li ul.level-1 li ul.level-2 li,
  body .wrapper .container header nav:focus ul li ul.level-1 li ul.level-2 li {
    padding-left: 20px;
  }
  body .wrapper .container header nav:hover ul li ul.level-1 li.level-sub,
  body .wrapper .container header nav:focus ul li ul.level-1 li.level-sub {
    padding-left: 0px;
    background: #ffffff;
  }
  body .wrapper .container header nav:hover ul li ul.level-1 li.level-sub a,
  body .wrapper .container header nav:focus ul li ul.level-1 li.level-sub a {
    color: #314350;
  }
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:hover,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:hover,
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:focus,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:focus {
    padding-left: 0px;
    background: #ffffff;
  }
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:hover a,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:hover a,
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:focus a,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:focus a {
    color: #314350;
  }
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:hover .level-2,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:hover .level-2,
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:focus .level-2,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:focus .level-2 {
    background: #ffffff;
  }
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:hover .level-2 a,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:hover .level-2 a,
  body .wrapper .container header nav:hover ul li ul.level-1.level-sub:focus .level-2 a,
  body .wrapper .container header nav:focus ul li ul.level-1.level-sub:focus .level-2 a {
    color: #314350;
  }
  body .wrapper .container header nav:hover ul li.level:hover,
  body .wrapper .container header nav:focus ul li.level:hover,
  body .wrapper .container header nav:hover ul li.level:focus,
  body .wrapper .container header nav:focus ul li.level:focus {
    background: #ffffff;
  }
  body .wrapper .container header nav:hover ul li.level:hover a,
  body .wrapper .container header nav:focus ul li.level:hover a,
  body .wrapper .container header nav:hover ul li.level:focus a,
  body .wrapper .container header nav:focus ul li.level:focus a {
    color: #314350;
  }
  body .wrapper .container header nav:hover ul li.level:hover .level-1,
  body .wrapper .container header nav:focus ul li.level:hover .level-1,
  body .wrapper .container header nav:hover ul li.level:focus .level-1,
  body .wrapper .container header nav:focus ul li.level:focus .level-1 {
    background: #ffffff;
  }
  body .wrapper .container header nav:hover ul li.level:hover .level-1 a,
  body .wrapper .container header nav:focus ul li.level:hover .level-1 a,
  body .wrapper .container header nav:hover ul li.level:focus .level-1 a,
  body .wrapper .container header nav:focus ul li.level:focus .level-1 a {
    color: #314350;
  }
  body .wrapper .container header nav:hover .mobile-nav,
  body .wrapper .container header nav:focus .mobile-nav {
    display: block;
  }
  body .wrapper .container header .mobile-nav {
    float: right;
    display: block;
    background: #efeaea;
    width: 40px;
    height: 36px;
    padding: 10px 8px;
    padding-bottom: 0px;
    border-radius: 4px;
    position: absolute;
    top: -35px;
    right: 0px;
  }
  body .wrapper .container header .mobile-nav span {
    display: block;
    margin-bottom: 6px;
    border-top: 2px #333 solid;
  }
  body .wrapper .container header .mobile-nav:hover nav,
  body .wrapper .container header .mobile-nav:focus nav {
    display: block;
  }
  body .wrapper .container .sale-banner .sale-banner-img {
    width: 100%;
    margin-bottom: 20px;
  }
  body .wrapper .container .sale-banner .sale-banner-img .banner-content {
    top: 50%;
  }
  body .wrapper .container .sale-banner .sale-banner-img .banner-content h3 {
    font-size: 18px;
  }
  body .wrapper .container .sale-banner .sale-banner-content {
    width: 100%;
    padding-left: 0px;
  }
  body .wrapper .container .sale-banner .sale-banner-content h1 {
    font-size: 30px;
  }
  body .wrapper .container .sale-banner .sale-banner-content h2 {
    font-size: 18px;
  }
  body .wrapper .container .favorite-txt {
    text-align: center;
    border: 0 none;
  }
  body .wrapper .container .favorite-txt span {
    position: static;
  }
  body .wrapper .container .product-slider ul li {
    margin-bottom: 20px;
    width: 47%;
  }
  body .wrapper .container .product-slider ul li:nth-child(even) {
    margin-right: 0px;
  }
  body .wrapper .container .product-slider ul li:nth-child(odd) {
    margin-left: 0px;
  }
  body .wrapper footer ul {
    display: block;
    width: 100%;
  }
  body .wrapper footer ul.email-subscrip {
    width: 100%;
  }
  body .wrapper footer ul.email-subscrip li input[type="email"] {
    width: calc(62%);
  }
}
@media only screen and (max-width: 767px) and only screen and (hover: hover) {
  body .wrapper .container header nav:hover ul li ul.level-1 li.level-sub,
  body .wrapper .container header nav:focus ul li ul.level-1 li.level-sub {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  body .wrapper .container header .item-cart #minicart {
    display: none;
  }
  body .wrapper .container header .item-cart:hover #minicart {
    display: block;
  }
}
